<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Statistics</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
<h1>GitHub Statistics</h1>
<h2>Summary</h2>
<table>
    <tr>
        <th>Total PRs</th>
        <th>Total Issues</th>
        {{if gt .CommitsCount 0}}
        <th>Total Commits</th>
        {{end}}
    </tr>
    <tr>
        <td>{{.PRsCount}}</td>
        <td>{{.IssuesCount}}</td>
        {{if gt .CommitsCount 0}}
        <td>{{.CommitsCount}}</td>
        {{end}}
    </tr>
</table>

<h2>Contributor Statistics</h2>
<table>
    <tr>
        <th>PRs Count</th>
        <th>Issues Count</th>
        {{if gt .CommitsCount 0}}
        <th>Commits Count</th>
        {{end}}
    </tr>
    <tr>
        <td>{{.PRsCount}}</td>
        <td>{{.IssuesCount}}</td>
        {{if gt .CommitsCount 0}}
        <td>{{.CommitsCount}}</td>
        {{end}}
    </tr>
</table>

{{if gt .PRsCount 0}}
<h3>PRs:</h3>
<table>
    <tr>
        <th>Title</th>
        <th>URL</th>
        <th>Created At</th>
    </tr>
    {{range .PRStats}}
    <tr>
        <td>{{.Title}}</td>
        <td><a href="{{.URL}}">{{.URL}}</a></td>
        <td>{{.CreatedAt}}</td>
    </tr>
    {{end}}
</table>
{{end}}

{{if gt .IssuesCount 0}}
<h3>Issues:</h3>
<table>
    <tr>
        <th>Title</th>
        <th>URL</th>
        <th>Created At</th>
    </tr>
    {{range .IssueStats}}
    <tr>
        <td>{{.Title}}</td>
        <td><a href="{{.URL}}">{{.URL}}</a></td>
        <td>{{.CreatedAt}}</td>
    </tr>
    {{end}}
</table>
{{end}}

{{if gt .CommitsCount 0}}
<h3>Commits:</h3>
<table>
    <tr>
        <th>Title</th>
        <th>URL</th>
        <th>Created At</th>
    </tr>
    {{range .CommitStats}}
    <tr>
        <td>{{.Title}}</td>
        <td><a href="{{.URL}}">{{.URL}}</a></td>
        <td>{{.CreatedAt}}</td>
    </tr>
    {{end}}
</table>
{{end}}
</body>
</html>
